/* @import url("https://fonts.google.com/share?selection.family=Kaushan%20Script"); */

section {
    margin-top: 4rem;
}

h1 {
    font-size: 45px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me {
    background: rgba(255,255,255, .6);
    width: 35rem;
    height: 35rem;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 2px 3px 3px 4px #000000;
}

.about-text {
    width: 67.5%;
    margin-top: -11.5rem;
}

@media screen and (max-width: 600px) {
    .about-me {
        width: 25rem;
        height: 25rem;
    };
}