html {
  background-image: url('./assets/images/portfolio-background-exLarge-min.jpg');
  min-height: 100%;
  background-size: cover;
  background-position: center center;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: azure;
}

a:hover {
  text-shadow: 3px 3px 8px black;
}

ul {
  list-style-type: none;
}

.active-nav {
  color: yellow;
  font-style: oblique;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1.5rem;
}

/* @media screen and (max-width: 1600px) {
  html{
    background-image: url('./assets/images/portfolio-background-large-min.jpg');
    height: auto;
    background-size: cover;
    background-position: center center;
  }
} */

@media screen and (max-width: 900px) {
  html{
    background-image: url('./assets/images/portfolio-background-large-min.jpg');
    height: auto;
     background-size: cover;
     background-position: center center;
  }
}